
# Created by https://www.toptal.com/developers/gitignore/api/java,gradle
# Edit at https://www.toptal.com/developers/gitignore?templates=java,gradle

### Java ###
# Compiled class file
*.class

# Log file
*.log
*.xml

# BlueJ files
*.ctxt



# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
