@import '_base';

.alarmOutLine{
    @include absolute-loc($top:75px, $left:10%);
    width: 80%;
    height: 75%;
    z-index: 11;
    background-color: white;
    @include shadow;
    overflow: auto;
    >div{
        margin : 10px;
        @include flex-col;
        overflow: auto;
        height: 550px;
        >div{
            display: flex;
            border-radius: 8px;
            margin: 8px 12px 8px 12px;
            padding: 20px;
            background-color: $gray1;
            justify-content: space-between;
            @include shadow;
        }
    }
    >p{
        @include absolute-loc($right:20px);
        text-align: end;
        font-size: 14px;
    }
}