.alarmOutLine{
    position: absolute;
    width: 80%;
    height: 75%;
    top:75px;
    left:10%;
    z-index: 11;
    background-color: white;
    box-shadow: 1px 1px 3px 1px #dadce0;
    overflow: auto;
    >div{
        margin : 10px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 550px;
        >div{
            display: flex;
            border-radius: 8px;
            margin: 8px 12px 8px 12px;
            padding: 20px;
            background-color: #F5F5F5;
            justify-content: space-between;
            box-shadow: 1px 1px 3px 1px #dadce0;
        }
    }
    >p{
        position: absolute;
        right: 20px;
        bottom: 0;
        text-align: end;
        font-size: 14px;

    }
}