@import '_base';

.ccoutLine {
    @include flex-col;
    align-items: center;
    height: 100%;

    textarea{
        box-sizing: border-box;
        width: 100%;
        margin-top: 15px;
        height: 460px;
        border: none;
        background-color: $gray1;
        border-radius: 15px;
        resize: none;
        padding: 20px;
        font-size: 20px;
        box-shadow: 1px 1px 3px 1px #e3e5e9;
    }
    .create{
        @include button;
        @include absolute-loc($bottom:13%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 77%;
        height: 3%;
        padding: 15px;
        
    }

}