@import '_base';



.communityOutLine{
    overflow: auto;
    @include flex-col;
    align-items: center;

    .communityCard{
        @include flex-col;
        @include noneA;
        @include card;
        // height: 90%;

        div{

            // padding: 2%;

            >div{
                padding: 10px 20px 10px 20px;
                width: 90%;
                text-align: start;
            }
            >div:first-child{
                font-size: 24px;
                min-height: 20%;
            }
            >div:nth-child(2){
                text-align: end;
            }
            >div:nth-child(3){
                padding-top: 0;
                color:$gray2;
            }
            >div:nth-child(4){
                border-top: 1px solid black;
                >svg{
                    margin-right: 10px;
                }
            }
        }
 
    }
}
.writemark{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: $mint1;
    border-radius: 200px;
    margin:auto;
    font-size: 45px;
    right:30px;
    bottom: 110px;
    z-index:10;
    color: $blue1;
}