@import '_base';

.deliveryinList{
    overflow: auto;
    height: 82vh;
    box-sizing: border-box;
    padding-bottom: 100px;
    
    >div{
        border-radius: 15px;
        @include flex-col;
        background-color: $gray1;
        margin-top: 16px;
        overflow: hidden;
        height: 150px;

        >div{
            text-overflow:ellipsis;
            overflow: hidden;
            margin: 5px 15px 5px 15px;
            white-space:nowrap;
            max-width: 50%;
        }
        >div:nth-child(1){
            align-self: flex-start;
            font-size: 22px;
            min-height: 50px;
            @include textoverflow;
        }
        >div:nth-child(2){
            align-self: flex-end;
            word-break: break-all;
            @include textoverflow;
            margin: 2px 15px 2px 15px;
        }
        >div:nth-child(3){
            align-self: flex-end;
            margin: 2px 15px 2px 15px;
        }
        >div:nth-child(4){
            align-self: center;
            background-color: $blue2;
            width: 100%;
            color: white;
            padding:8px;
            border-radius: 0 0 15px 15px;
            max-width: 100%;
            margin: 2px 15px 0px 15px;
        }
    }
}
.shadow{
    @include shadow;
}


.deliveryinList::-webkit-scrollbar {
    display: none; 
}