@import '_base';

.deliveryinList{
    overflow: auto;
    height: 600px;
    >div{
        border-radius: 20px;
        @include flex-col;
        background-color: $gray1;
        margin-top: 16px;
        overflow: hidden;
        >div{
            text-overflow:ellipsis;
            overflow: hidden;
            margin: 10px 15px 10px 15px;
            white-space:nowrap;
            max-width: 50%;
        }
        >div:nth-child(1){
            align-self: flex-start;
            font-size: 20px;
            min-height: 50px;
        }
        >div:nth-child(2){
            align-self: flex-end;
            word-break: break-all;
            margin: 2px 15px 2px 15px;
        }
        >div:nth-child(3){
            align-self: flex-end;
            margin: 2px 15px 2px 15px;
        }
        >div:nth-child(4){
            align-self: center;
            background-color: $blue2;
            width: 100%;
            color: white;
            padding:8px;
            border-radius: 0 0 15px 15px;
            max-width: 100%;
            margin: 2px 15px 0px 15px;
        }
    }
}
.shadow{
    @include shadow;
}