*{
    box-sizing: border-box;
}
.madeliverycard{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-end;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px 1px #dadce0;
    overflow: hidden;
    position: relative;
    >div{
        display: flex;
        margin: 10px;
    }
    >div:nth-child(1){
        justify-content: space-between;
        width: 390px;
        >div:nth-child(1){
            font-size: 22px;
        }
        >svg{
            margin-right: 10px;
        }
    }
    >div:nth-child(2){
        width: 60%;
        >div{
            margin: 3px;
        }
        >div:nth-child(2){
            max-width: 100%;
            text-align: start;
            word-break:break-all;
        }
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    >div:nth-child(3){
        margin: 0;
        height: 10px;
        position: absolute;
        width: 500px;
        bottom: 0;
        left :0;
        background-color: #3684F1;
    }
}