@import '_base';

.madeliverycard{
    @include flex-col;
    padding: 10px;
    align-items: flex-end;
    border-radius: 10px;
    background-color: $gray1;
    margin-top: 10px;
    margin-bottom: 10px;
    @include shadow;
    position: relative;
    overflow: auto;
    >div{
        display: flex;
        margin: 10px;
    }
    >div:nth-child(1){
        justify-content: space-between;
        width: 390px;
        >div:nth-child(1){
            font-size: 22px;
        }
        >svg{
            margin-right: 10px;
        }
    }
    >div:nth-child(2){
        width: 60%;
        >div{
            margin: 3px;
        }
        >div:nth-child(2){
            max-width: 100%;
            text-align: start;
            word-break:break-all;
        }
        justify-content: space-between;
        @include flex-col;
    }
    >div:nth-child(3){
        margin: 0;
        height: 10px;
        @include absolute-loc($bottom:0, $left:0);
        width: 500px;
        background-color: $blue2;
    }
}