@import '_base';

.mypageOutLine{
    @include flex-col;
    >a, div{
        @include noneA;
        text-align: start;
        font-size: 22px;
        border-bottom: 1px solid $gray2;
        padding: 20px;
        font-weight: bolder;
        cursor: pointer;
    }
}