@import '_base';

.profile div{
    margin: 6%;
    
    >div {
        display: flex;
        justify-content: space-between;
    }

    img {
        border-radius: 30%;
        object-fit: cover;
        width: 30%;
        cursor: pointer;
    }

    button {
        cursor: pointer;
    }

   
}