@import '_base';

.profile div{
    margin: 4%;
    
    >div {
        display: flex;
        justify-content: space-between;
        background-color: $gray1;
        border-radius: 15px;
        padding: 1% 5%;
        margin: 5% 0;
    }

    img {
        margin: 5% 0;
        border-radius: 30%;
        width: 120px;
        height: 120px;
        cursor: pointer;
    }

    button {
        cursor: pointer;
    }

    .editButton {
        position: absolute;
        border-radius: 70%;
        top: 23%
    }

   
}
.dishidden{
    display: none;
}