@import '../_base';

.minimodal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);

    button {
        outline: none;
        cursor: pointer;
        border: 0;
    }

    section {
        width: 90%;
        max-width: 450px;
        margin: 0 auto;
        border-radius: 25px;
        background-color: #fff;
        /* 팝업이 열릴때 스르륵 열리는 효과 */
        animation: modal-show 0.3s;
        overflow: hidden;


        header {
            position: relative;
            background-color: $blue3;
            font-weight: 700;
            color: white;
            display: flex;
            justify-content: center;
            

            button {
              @include absolute-loc($top:15px, $right:15px);
              width: 30px;
              font-size: 21px;
              font-weight: 700;
              text-align: center;
              color: #999;
              background-color: transparent;
              }

        }

        main {
            padding: 16px;
            border-bottom: 1px solid #dee2e6;
            border-top: 1px solid #dee2e6;
            text-align: center;
          }


    }

    
  }
   
  .minimodal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
  }

  
  @keyframes modal-show {
    from {
      opacity: 0;
      margin-top: -50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }

  
  @keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


